main {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.solution {
    font-size: 20px;
}

.game-and-words-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-transform: uppercase;
}

.game-container {
    display: inline-block;
    border: black 3px solid;
}

.game-row {
    display: flex;
    justify-content: stretch;
}

.game-item {
    display: inline-flex;
    align-items: center;

    justify-content: center;
    font-size: 28px;
    min-width: 20px;
    min-height: 20px;
    width: 45px;
    height: 45px;
    text-transform: uppercase;
    cursor: pointer;
}

.game-item.crossed {
    background-color: lightblue;
}

.game-item:hover {
    background-color: lightgrey;
    border-radius: 10%;
}

.game-item.active {
    background-color: lightgreen;
    border-radius: 10%;
}

.game-item.wrong {
    background-color: red;
    border-radius: 10%;
}

.words-container {
    max-height: 100%;
    display: flex;
    text-transform: uppercase;
}

.words-container div {
    margin-left: 10px;
}

.words-container ul {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    column-count: 2;
    list-style: none;
}

.words-container .found ul {
    text-decoration: line-through;
}
