<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Křírotaj</title>
        <link href="general.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <a class="navbar-brand" href="/">DOMŮ</a>
        </header>

        <main></main>
    </body>
</html>
