<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Křížovky</title>
        <link href="general.css" rel="stylesheet" type="text/css" />
        <link href="main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header><a class="navbar-brand" href="/">DOMŮ</a></header>

        <main>
            <a href="/crosswords" class="game-box">
                <div class="title">Křížovka</div>
                <div class="image" id="crosswords-image"></div>
            </a>
            <a href="/word_search" class="game-box">
                <div class="title">Osmisměrka</div>
                <div class="image" id="word-search-image"></div>
            </a>
            <a href="/crosswords_separated" class="game-box">
                <div class="title">Křírotaj <br />(Coming soon)</div>
                <div class="image" id="crosswords-separated-image"></div>
            </a>
        </main>
    </body>
</html>
